<table width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color:#f6f3ef">
    <tbody>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td height="30"></td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0"
                    style="max-width:600px;background-color:#ffffff;border:1px solid #e6e6e6;overflow:hidden">
                    <tbody>
                        <tr>
                            <td height="30" colspan="3"></td>
                        </tr>
                        <tr>
                            <td width="30"></td>
                            <td align="center"
                                style="font-family:Arial,Helvetica,sans-serif;font-size:16px;line-height:22px;color:#373942;text-align:center">
                                <table width="100%" border="0" align="center" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td valign="bottom" align="center" style="font-size:20px">
                                                <strong>
                                                    Bonjour {{ firstname }}!
                                                </strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                        <tr>
                                        </tr>
                                        <tr>
                                            <td valign="bottom" align="center"
                                                style="font-family:Arial,Helvetica,sans-serif;font-size:16px;line-height:24px;color:#373942">
                                                Bienvenue à bord!
                                                <br>
                                                Merci d'avoir créé votre compte. Vous n'êtes plus qu'à un clic, il ne vous reste
                                                plus qu'à confirmer votre email :
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                        <tr>
                                            <td valign="bottom" align="center"
                                                style="font-family:Arial,Helvetica,sans-serif;font-size:16px;line-height:24px;color:#373942">
                                                <a href="{{ confirmationUrl }}"
                                                    style="display:inline-block;background-color:#251d5d;border:10px solid #251d5d;border-right-width:20px;border-left-width:20px;color:#f6f3ef;text-decoration:none;font-weight:bold;font-size:14px"
                                                    target="_blank"
                                                    data-saferedirecturl="https://www.google.com/url?q=https://u17807810.ct.sendgrid.net/ls/click?upn%3DT9tEn7rNv-2FXhLacgQ6AgxeU9GZ-2B49XxQORTf3164AY1dA5obVcGtL-2F1IWX3YFXdogyM-2FyN41BMCkeeL2gG3hRVabzOZHzXnBWtIsAXo9TnhbGFOjExEx3ur7-2Bt6jVl6KF6-2BSPwlWu-2Bn-2FodrsvcKFqg-3D-3DQK1n_D8VDOKB4RPUiOQh-2FmRy4auTe83M1v05xxlalj3ySvxM0OnBCtisZ1xlnr4xZkzIDHUT3rH-2Ft66wRUeqo-2BBosXDEUllcC00RlSZLpZbmmJuLHnchRS5b0kCvVHyfZQIo8ALnyBpKLo11Vw0hbxht-2Bgz8OKLrE4uts2e1j3We1KWDRsrwhJQk1vtm2QV1kdjKWfRizTtCTxzwIjpzPVi5aJFTMlaB82ilvhCoVFtK0-2FNvRQKwdDUohv3Lt9snopEGiqmtvBuC2LRgWHd0MSG7wb-2FY4-2BvXtpKWbGEVzmbuXtz-2BtwaV19Qzefc3OphQSd3zXfQ99iSLJDfRftaMwAVk-2Fng-3D-3D&amp;source=gmail&amp;ust=1681120092993000&amp;usg=AOvVaw14OnQw4dknBb73f1euH3Ta">
                                                    CONFIRMER MON COMPTE
                                                </a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                        <tr>
                                            <td valign="bottom" align="center"
                                                style="font-family:Arial,Helvetica,sans-serif;font-size:16px;line-height:22px;color:#4b4d55">
                                                À bientôt,
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="bottom" align="center"
                                                style="font-family:Arial,Helvetica,sans-serif;font-size:16px;line-height:22px;color:#4b4d55;font-style:italic">
                                                L'équipe MASTERCLASS
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                        <tr>
                                            <td height="10"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="30"></td>
                        </tr>
                        <tr>
                            <td height="30" colspan="3"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>